<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    
    <welcome-file-list>
        <welcome-file>user/index</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>UserAuthenticationFilter</filter-name>
        <filter-class>filter.UserAuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <filter-class>filter.AdminAuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginAndRegisterUserFilter</filter-name>
        <filter-class>filter.LoginAndRegisterUserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginAndRegisterAdminFilter</filter-name>
        <filter-class>filter.LoginAndRegisterAdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationOTPUserFilter</filter-name>
        <filter-class>filter.AuthenticationOTPUserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationOTPAdminFilter</filter-name>
        <filter-class>filter.AuthenticationOTPAdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationOTPAdminFilter</filter-name>
        <url-pattern>/admin/inputotp.jsp</url-pattern>
        <url-pattern>/admin/changepassword2.jsp</url-pattern>
        <url-pattern>/admin/authenticationotpadmin</url-pattern>
        <url-pattern>/admin/changepassword2</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationOTPUserFilter</filter-name>
        <url-pattern>/user/inputotp.jsp</url-pattern>
        <url-pattern>/user/changepassword2.jsp</url-pattern>
        <url-pattern>/user/authencationotp</url-pattern>
        <url-pattern>/user/changepassword2</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAndRegisterAdminFilter</filter-name>
        <url-pattern>/admin/authentication-login.jsp</url-pattern>
        <url-pattern>/admin/authentication-register.jsp</url-pattern>
        <url-pattern>/admin/loginadmin</url-pattern>
        <url-pattern>/admin/inputotp.jsp</url-pattern>
        <url-pattern>/admin/authenticationotpadmin</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAndRegisterAdminFilter</filter-name>
        <url-pattern>/admin/authentication-login.jsp</url-pattern>
        <url-pattern>/admin/loginadmin</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAndRegisterUserFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/user/login.jsp</url-pattern>
        <url-pattern>/user/register.jsp</url-pattern>
        <url-pattern>/user/login</url-pattern>
        <url-pattern>/user/register</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <url-pattern>/admin/index</url-pattern>
        <url-pattern>/admin/addcategory</url-pattern>
        <url-pattern>/admin/addshipper</url-pattern>
        <url-pattern>/admin/addsupplier</url-pattern>
        <url-pattern>/admin/addproduct</url-pattern>
        <url-pattern>/admin/updatecategory</url-pattern>
        <url-pattern>/admin/updateproduct</url-pattern>
        <url-pattern>/admin/updateshipper</url-pattern>
        <url-pattern>/admin/updatesupplier</url-pattern>
        <url-pattern>/admin/listallproducts</url-pattern>
        <url-pattern>/admin/listallshippers</url-pattern>
        <url-pattern>/admin/listallsuppliers</url-pattern>
        <url-pattern>/admin/loginadmin</url-pattern>
        <url-pattern>/admin/logoutadmin</url-pattern>
        <url-pattern>/admin/tables</url-pattern>
        <url-pattern>/admin/listallcategories</url-pattern>
        <url-pattern>/admin/listallaccounts</url-pattern>
        <url-pattern>/admin/profileadmin</url-pattern>
        <url-pattern>/admin/profile</url-pattern>
        <url-pattern>/admin/feedbacks</url-pattern>
        <url-pattern>/admin/reply</url-pattern>
        <url-pattern>/admin/updatereview</url-pattern>
        <url-pattern>/admin/loadmore</url-pattern>
        <url-pattern>/admin/orderdetail</url-pattern>
        <url-pattern>/admin/charts</url-pattern>
        <url-pattern>/admin/changepassword</url-pattern>
        <url-pattern>/admin/accounts.jsp</url-pattern>
        <url-pattern>/admin/categories.jsp</url-pattern>
        <url-pattern>/admin/changepass.jsp</url-pattern>
        <url-pattern>/admin/charts.jsp</url-pattern>
        <url-pattern>/admin/confirmproduct.jsp</url-pattern>
        <url-pattern>/admin/feedbacks.jsp</url-pattern>
        <url-pattern>/admin/formaddcate.jsp</url-pattern>
        <url-pattern>/admin/formaddproduct.jsp</url-pattern>
        <url-pattern>/admin/formaddshipper.jsp</url-pattern>
        <url-pattern>/admin/formaddsup.jsp</url-pattern>
        <url-pattern>/admin/formupcate.jsp</url-pattern>
        <url-pattern>/admin/formupshipper.jsp</url-pattern>
        <url-pattern>/admin/formupsup.jsp</url-pattern>
        <url-pattern>/admin/index.jsp</url-pattern>
        <url-pattern>/admin/orderdetail.jsp</url-pattern>
        <url-pattern>/admin/products.jsp</url-pattern>
        <url-pattern>/admin/profileadmin.jsp</url-pattern>
        <url-pattern>/admin/profilecustomer.jsp</url-pattern>
        <url-pattern>/admin/profileview.jsp</url-pattern>
        <url-pattern>/admin/reply.jsp</url-pattern>
        <url-pattern>/admin/searchproduct.jsp</url-pattern>
        <url-pattern>/admin/shippers.jsp</url-pattern>
        <url-pattern>/admin/suppliers.jsp</url-pattern>
        <url-pattern>/admin/tables.jsp</url-pattern>
        <url-pattern>/admin/reviews.jsp</url-pattern>
        <url-pattern>/admin/orders.jsp</url-pattern>
        <url-pattern>/admin/updateorder</url-pattern>
        <url-pattern>/admin/searchorder</url-pattern>
        <url-pattern>/admin/searchcomments</url-pattern>
        <url-pattern>/admin/searchcomments.jsp</url-pattern>
        <url-pattern>/admin/searchorder.jsp</url-pattern>
        <url-pattern>/admin/orders</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthenticationFilter</filter-name>
        <url-pattern>/user/checkout</url-pattern>
        <url-pattern>/user/order</url-pattern>
        <url-pattern>/user/orderdetails</url-pattern>
        <url-pattern>/user/review</url-pattern>
        <url-pattern>/user/information</url-pattern>
        <url-pattern>/user/order.jsp</url-pattern>
        <url-pattern>/user/orderdetails.jsp</url-pattern>
        <url-pattern>/user/review</url-pattern>
        <url-pattern>/user/information.jsp</url-pattern>
        <url-pattern>/user/changepassword.jsp</url-pattern>
        <url-pattern>/user/changepassword</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>controller.user.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileServlet</servlet-name>
        <servlet-class>controller.user.MobileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TabletServlet</servlet-name>
        <servlet-class>controller.user.TabletServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LaptopServlet</servlet-name>
        <servlet-class>controller.user.LaptopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>controller.user.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.user.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemServlet</servlet-name>
        <servlet-class>controller.user.ItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.user.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.user.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>controller.user.BuyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>controller.user.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowServlet</servlet-name>
        <servlet-class>controller.user.ShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.user.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationServlet</servlet-name>
        <servlet-class>controller.user.InformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.user.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReivewServlet</servlet-name>
        <servlet-class>controller.user.ReivewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.user.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>controller.user.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.user.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexAdminServlet</servlet-name>
        <servlet-class>controller.admin.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoriesServlet</servlet-name>
        <servlet-class>controller.admin.AddCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddShipperServlet</servlet-name>
        <servlet-class>controller.admin.AddShipperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSupplierServlet</servlet-name>
        <servlet-class>controller.admin.AddSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>controller.admin.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <servlet-class>controller.admin.UpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.admin.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateShipperServlet</servlet-name>
        <servlet-class>controller.admin.UpdateShipperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSupplierServlet</servlet-name>
        <servlet-class>controller.admin.UpdateSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllProductsServlet</servlet-name>
        <servlet-class>controller.admin.ListAllProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllShippersServlet</servlet-name>
        <servlet-class>controller.admin.ListAllShippersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllSuppliersServlet</servlet-name>
        <servlet-class>controller.admin.ListAllSuppliersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>controller.user.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.user.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationOTPServlet</servlet-name>
        <servlet-class>controller.user.AuthenticationOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword2Servlet</servlet-name>
        <servlet-class>controller.user.ChangePassword2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdminServlet</servlet-name>
        <servlet-class>controller.admin.LoginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdminServlet</servlet-name>
        <servlet-class>controller.admin.LogoutAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TablesServlet</servlet-name>
        <servlet-class>controller.admin.TablesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllCategoriesServlet</servlet-name>
        <servlet-class>controller.admin.ListAllCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAlLAccountsServlet</servlet-name>
        <servlet-class>controller.admin.ListAlLAccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileAdminServlet</servlet-name>
        <servlet-class>controller.admin.ProfileAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.admin.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllFeedbacksServlet</servlet-name>
        <servlet-class>controller.admin.ListAllFeedbacksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>controller.admin.ReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateReviewServlet</servlet-name>
        <servlet-class>controller.admin.UpdateReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreServlet</servlet-name>
        <servlet-class>controller.admin.LoadMoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <servlet-class>controller.admin.OrderDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartsServlet</servlet-name>
        <servlet-class>controller.admin.ChartsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordAdminServlet</servlet-name>
        <servlet-class>controller.admin.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationOTPAdminServlet</servlet-name>
        <servlet-class>controller.admin.AuthenticationOTPAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordAdminServlet</servlet-name>
        <servlet-class>controller.admin.ChangePasswordAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword2AdminServlet</servlet-name>
        <servlet-class>controller.admin.ChangePassword2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrdersServlet</servlet-name>
        <servlet-class>controller.admin.UpdateOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersServlet</servlet-name>
        <servlet-class>controller.admin.OrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentsServlet</servlet-name>
        <servlet-class>controller.admin.CommentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreNewOrders</servlet-name>
        <servlet-class>controller.admin.LoadMoreNewOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreOrdersServlet</servlet-name>
        <servlet-class>controller.admin.LoadMoreOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreReviewsServlet</servlet-name>
        <servlet-class>controller.admin.LoadMoreReviewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrdersServlet</servlet-name>
        <servlet-class>controller.admin.SearchOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCommentsServlet</servlet-name>
        <servlet-class>controller.admin.SearchCommentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreReviewServlet</servlet-name>
        <servlet-class>controller.user.LoadMoreReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateReviewByUserServlet</servlet-name>
        <servlet-class>controller.user.UpdateReviewByUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/user/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileServlet</servlet-name>
        <url-pattern>/user/mobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TabletServlet</servlet-name>
        <url-pattern>/user/tablet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LaptopServlet</servlet-name>
        <url-pattern>/user/laptop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/user/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/user/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemServlet</servlet-name>
        <url-pattern>/user/item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/user/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/user/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/user/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowServlet</servlet-name>
        <url-pattern>/user/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/user/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationServlet</servlet-name>
        <url-pattern>/user/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/user/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReivewServlet</servlet-name>
        <url-pattern>/user/review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/user/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/user/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/user/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexAdminServlet</servlet-name>
        <url-pattern>/admin/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoriesServlet</servlet-name>
        <url-pattern>/admin/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddShipperServlet</servlet-name>
        <url-pattern>/admin/addshipper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSupplierServlet</servlet-name>
        <url-pattern>/admin/addsupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/admin/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <url-pattern>/admin/updatecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/admin/updateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateShipperServlet</servlet-name>
        <url-pattern>/admin/updateshipper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSupplierServlet</servlet-name>
        <url-pattern>/admin/updatesupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllProductsServlet</servlet-name>
        <url-pattern>/admin/listallproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllShippersServlet</servlet-name>
        <url-pattern>/admin/listallshippers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllSuppliersServlet</servlet-name>
        <url-pattern>/admin/listallsuppliers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/user/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/user/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationOTPServlet</servlet-name>
        <url-pattern>/user/authencationotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword2Servlet</servlet-name>
        <url-pattern>/user/changepassword2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdminServlet</servlet-name>
        <url-pattern>/admin/loginadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdminServlet</servlet-name>
        <url-pattern>/admin/logoutadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TablesServlet</servlet-name>
        <url-pattern>/admin/tables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllCategoriesServlet</servlet-name>
        <url-pattern>/admin/listallcategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAlLAccountsServlet</servlet-name>
        <url-pattern>/admin/listallaccounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileAdminServlet</servlet-name>
        <url-pattern>/admin/profileadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/admin/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllFeedbacksServlet</servlet-name>
        <url-pattern>/admin/feedbacks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyServlet</servlet-name>
        <url-pattern>/admin/reply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateReviewServlet</servlet-name>
        <url-pattern>/admin/updatereview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreServlet</servlet-name>
        <url-pattern>/admin/loadmore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <url-pattern>/admin/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartsServlet</servlet-name>
        <url-pattern>/admin/charts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordAdminServlet</servlet-name>
        <url-pattern>/admin/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationOTPAdminServlet</servlet-name>
        <url-pattern>/admin/authenticationotpadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordAdminServlet</servlet-name>
        <url-pattern>/admin/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword2AdminServlet</servlet-name>
        <url-pattern>/admin/changepassword2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrdersServlet</servlet-name>
        <url-pattern>/admin/updateorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersServlet</servlet-name>
        <url-pattern>/admin/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentsServlet</servlet-name>
        <url-pattern>/admin/comments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreNewOrders</servlet-name>
        <url-pattern>/admin/loadmoreneworders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreOrdersServlet</servlet-name>
        <url-pattern>/admin/loadmoreorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreReviewsServlet</servlet-name>
        <url-pattern>/admin/loadmorereviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrdersServlet</servlet-name>
        <url-pattern>/admin/searchorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCommentsServlet</servlet-name>
        <url-pattern>/admin/searchcomments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreReviewServlet</servlet-name>
        <url-pattern>/user/loadmorereview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateReviewByUserServlet</servlet-name>
        <url-pattern>/user/updatereview</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
